:root {
  --main-border-color: #ccc;
  --background-color: #1c1c1c;
  --secondary-color: #abebd2;
  --secondary-text-color: #136f63;
  --text-color: #ccc;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "DotGothic16", sans-serif;
}

.header,
.footer {
  text-align: center;
}

.calculator {
  margin: 0 auto;
  max-width: 80%;
  height: 77vh;
}

.calculator--border {
  border: 1px solid var(--main-border-color);
}

.calculator__screen {
  max-width: 90%;
  height: 18%;
  margin: 1.6rem auto;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  font-size: 2.1em;
  letter-spacing: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calculator__keys-area {
  max-width: 90%;
  height: 70%;
  margin: 1.6rem auto;
  display: grid;
  grid-template-columns: 69% auto;
}

.calculator__number-keys {
  display: grid;
  grid-template-columns: auto auto auto;
}

.calculator__mysterious-key {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.calculator__key {
  cursor: pointer;
  text-align: center;
  line-height: 11vh;
  border: 1px solid black;
}

.calculator__key:hover {
  color: #00ffe7;
}

.calculator__key:active {
  color: #00ffe7;
  font-size: 0.9em;
  background-color: #313131;
  width: 90%;
  height: 90%;
  text-align: center;
  margin: auto auto;
}

.calculator__key--pressed {
  color: #00ffe7;
  font-size: 0.9em;
  background-color: #313131;
  width: 90%;
  height: 90%;
  text-align: center;
  margin: auto auto;
}

.calculator__operator-keys {
  display: grid;
  grid-template-columns: auto auto;
}

.footer a {
  color: #8a8aff;
}

@media (min-width: 900px) {
  .calculator {
    width: 33rem;
  }
}
